---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      # This value should match the service account name defined in the service-account-role.yaml
      serviceAccountName: {{ .Release.Name }}-service-account
      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.app.image.repository }}:{{ .Values.app.image.tag }}"
          imagePullPolicy: {{ .Values.app.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.app.service.targetPort }}
          env:
          - name: DATABASE_URL
            valueFrom:
              configMapKeyRef:
                name: {{ .Values.configmap.databaseURLConfig }}
                key: databaseURL
          - name: KUBERNETES_DASHBOARD_NAMESPACE
            value: {{ .Release.Namespace }}
          - name: KUBERNETES_DASHBOARD_SERVICE_ACCOUNT_NAME
            value: {{ .Values.k8sDashboard.serviceAccountName }}
          - name: KUBERNETES_DASHBOARD_ACCESS_URL
            value: {{ .Values.k8sDashboard.accessURL  }}
          - name: ALERT_CRITICAL_THRESHOLD
            value: "{{ .Values.app.env.ALERT_CRITICAL_THRESHOLD }}"
          - name: ALERT_CRITICAL_THRESHOLD_WINDOW_SECONDS
            value: "{{ .Values.app.env.ALERT_CRITICAL_THRESHOLD_WINDOW_SECONDS }}"
          - name: NATS_SERVER
            value: "{{ .Values.app.env.NATS_SERVER }}"
          - name: NATS_JETSTREAM_STREAM
            value: "{{ .Values.app.env.NATS_KPI_JS_STREAM }}"
          - name: NATS_JETSTREAM_SUBJECT
            value: "{{ .Values.app.env.NATS_KPI_JS_SUBJECT }}"
