apiVersion: v2
name: orchestration-api
description: A Helm chart for deploying the orchestration api
type: application
version: 1.0.1
appVersion: "1.0.0"
icon: https://cdn-icons-png.flaticon.com/512/17076/17076655.png
dependencies:
  - name: k8s-dashboard
    alias: k8sDashboard
    condition: k8sDashboard.enabled
    version: "1.0.1"
    repository: "file://../k8s-dashboard"
  - name: workload-timing-watcher
    alias: workloadTimingWatcher
    condition: workloadTimingWatcher.enabled
    version: "1.0.0"
    repository: "file://../workload-timing-watcher"
  - name: alerts-populator
    alias: alertsPopulator
    condition: alertsPopulator.enabled
    version: "1.0.0"
    repository: "file://../alerts-populator"
  - name: tuning-parameters-populator
    alias: tuningParametersPopulator
    condition: tuningParametersPopulator.enabled
    version: "1.0.0"
    repository: "file://../tuning-parameters-populator"
